* {
	margin:0px;
	padding:0px;
}

.header {
	background-color:#333333;
	padding:10px 100px;
	height: 55px;
}

.header-left {
	width:300px;
	float:left;
	border: 0px solid white;
}
.header-logo {
	color:red;
	display:inline-block;
	font-size: 3em;
	font-family: 'arial';
	border: 0px solid red;
	text-decoration: none;
}
.header-logo:hover {
	color:red;
	display:inline-block;
	font-size: 3em;
	font-family: 'arial';
	border: 0px solid red;
	text-decoration: none;
}
.header-right {
	width:500px;
	float:right;
	border: 0px solid white;
}
.header-menu {
	float: right;
}
.header-a {
	color:white;
	text-transform: capitalize;
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	border: 0px solid blue;
	transition:0.3s;
	transition-delay: 0.1s;
	font-family: sans-serif;
}
.header-a:hover {
	color:black;
	background-color:white;
	text-transform: capitalize;
	text-decoration: none;
	display: inline-block;
	border-radius: 3px;
	border: 0px solid blue;
}






